<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- header icon -->
    <link rel="shortcut icon" href="/img/spaza.ico">
    <title>Uber Driver Support</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  {{#if user}}
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>
          <p class = "driver-title">{{role}}: <strong ><p id="username">{{user.username}}</p></strong></p>
      </div>

      <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav n">
              <li class="scroll active"><a href="/">Home</a></li>
              <li class="scroll"><a href="#explore">Explore</a></li>
              <li class="scroll"><a href="/logout">Logout</a></li>
          </ul>
      </div>
  </div>
  {{/if}}
<div id="wrapper">
  <div class="row">
    <div class= "col-xs-3 col-md-4"></div>
    <img class = "img-responsive col-xs-6 col-md-4" src = "/img/uber-logo.jpg">
    <div class= "col-xs-3 col-md-4"></div>
  </div>
    {{{body}}}

</div>
    <!-- JQUERY SCRIPTS -->
    <script src="/js/jquery.min.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- AJAX SEARCH BAR -->
  <!--  <script src="/js/fastRender.js"></script>-->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/socket.js"></script>


</body>
</html>
