<div id="page-wrapper" >
  <p class = "text-center">{{msg}}</p>
  <div class="form">
          <form action="/login" method="post">
            <input name="user" type="text" placeholder="Username" required="">
            <input name="pass" type="password" placeholder="Password" required="">
            <div class="check">
              <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i class="left"> </i>Remember My Password</label>
            </div>
            <input type="submit" value="Sign In">
          </form>
          <form class="text-center"  action="/signUp" method="get">
              <input type="submit" value="Register">
          </form>

          <a href="#">Forgot your password?</a>

          <form class="text-center"  action="/agent/login" method="get">
              <input type="submit" value="Agent Login">
          </form>

  </div>
</div>
