	<h3 class = "text-center">New Query</h3>
	<div class="form">
                  <form action="/queries/new" method="post">
										<p>I need assistance with:</p>
										<input type="radio" name="query" value="Lost Property">Lost Property<br>
										<input type="radio" name="query" value="Driver Information Change">Driver Information Change<br>
										<input type="radio" name="query" value="Driver Information Change">Driver Information Change<br>
										<input type="radio" name="query" value="Registration">Registration<br>
										<input type="radio" name="query" value="App Issues">App Issues<br>
										<input type="radio" name="query" value="Phone issues">Phone issues<br>
										<input type="radio" name="query" value="Misconduct">Misconduct<br>
										<input type="radio" name="other" value="Other">Other<br>
										<input name="query" type="text" placeholder="If other, please specify">
										<input type="submit" value="submit">
                  </form>
                  <form class="text-center"  action="/" method="get">
                      <input type="submit" value="Cancel">
                  </form>

                  <a href="#">Forgot your password?</a>

  </div>
