body{
	padding:0;
	font-family: 'Lato', sans-serif;
	background:#fefefe;
	margin: 5em 0;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.navbar-brand{
	background-image: url("/img/logo.png");
	background-size: cover;
	width: 50px;
	height: 50px;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.login-form {
	margin-top:3em;
}
.left-form{
	width:80%;
	float:left;
}
.form {
	padding: 1.5em 3em;
	background: #ffffff;
	margin-top:3em;
	border: 1px solid #eaeaea;
}
.form input[type="text"] {
	width: 100%;
	color: #111;
	background: #ffffff;
	outline: none;
	font-size: 1.3em;
	padding:1em 0;
	border: none;
	-webkit-appearance: none;
}
.form  input[type="password"] {
	width: 100%;
	color: #111;
	background: #ffffff;
	outline: none;
	font-size: 1.3em;
	padding:1.3em 0;
	border: none;
	-webkit-appearance: none;
}
.form input[type="submit"] {
	border: none;
	outline: none;
	color: #FFF;
	padding: 0.6em;
	font-size: 1.3em;
	font-weight: 500;
	margin: 1.3em 0 0 0;
	-webkit-appearance: none;
	background: #000000;
	border: none;
	width: 100%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.form input[type="submit"]:hover {
	background: #575757;
}
.check{
	margin: .5em 0;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 30px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 1.2em;
	color: #000;
	font-weight: 400;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.checkbox i {
	position: absolute;
	bottom: 4px;
	left: 17.5em;
	display: block;
	width: 19px;
	height: 19px;
	outline: none;
	border: 1px solid #97A2A8;
}
.checkbox i.left {
	position: absolute;
	bottom: 4px;
	left: 0;
	display: block;
	width: 19px;
	height: 19px;
	outline: none;
	border: 1px solid #97A2A8;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick-mark.png") no-repeat 1px 2px;
	top: 4px;
	left: 2px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.ckeck-bg{
	position:relative;
	min-height: 215px;
}
.checkbox-form input[type="submit"] {
  border: none;
  outline: none;
  color: #FFF;
  padding: .7em 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: #2a99d6;
}
.checkbox-form input[type="submit"]:hover{
	background:#2b3e4e;
	color:#FFF;
	  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.form a {
	color: #b6b6b6;
	font-size: 1.2em;
	font-weight: 500;
	text-decoration: underline;
	text-align: Center;
	display: block;
	padding: 2em 0 0.6em 0;
}

.list-group .queryBox:hover{
	background-color: #000;
	color: #fff;
}

.driver-title{
	color: #fff;
	padding-top: 1em;
	padding-left: 4em;
	padding-right: 4em;
}
